<!DOCTYPE html>
<html lang="ro">
<head>
    <title>Eventz | Despre noi</title>
    <%- include('../fragmente/meta.ejs') %>
</head>
<body>

<%- include('../fragmente/header.ejs') %>

<main>
    <section>
        <h2>Despre noi</h2>

        <span class="reflected-text" data-text="Eventz!">
            Eventz!
        </span>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tincidunt nibh vel auctor commodo. Nunc vel
            sapien accumsan, placerat justo in, aliquam mauris. Pellentesque sodales magna eu diam fermentum, sed
            egestas mauris bibendum. Vivamus a nisl id neque dapibus rutrum. In orci tellus, congue nec sapien vel,
            luctus mattis nunc. Ut purus nisi, sollicitudin ac diam ultrices, efficitur dignissim lectus. Etiam pretium
            pellentesque erat vitae consectetur. Sed volutpat ante dui, at venenatis tellus efficitur non. Vestibulum
            consectetur efficitur dui, quis placerat ligula mattis efficitur. Vestibulum a ultrices quam, at lacinia
            mi.</p>
        <p>Sed vitae tellus pretium, convallis est ut, sagittis dui. Vestibulum laoreet malesuada felis, nec cursus
            lorem aliquet euismod. Etiam vel ligula luctus, rutrum sem ut, scelerisque elit. Quisque hendrerit imperdiet
            nibh, eget fermentum diam placerat vel. Nulla quis velit nulla. Praesent urna mauris, venenatis non aliquet
            et, convallis ut erat. Sed id tincidunt purus. Cras vitae enim neque. Aliquam urna est, consequat at
            bibendum sit amet, interdum a massa. Mauris lacinia at magna ac mollis. Donec vitae elementum velit. Sed
            cursus orci et leo venenatis, non volutpat nisi tincidunt. Donec posuere ultricies tortor nec tempor. Aenean
            ut eros lacus. Quisque eget orci eget nulla luctus condimentum vel eget libero. Donec molestie facilisis
            elementum.</p>

        <hr/>

        <p>Pellentesque fringilla efficitur vestibulum. Nulla nec mollis est, quis venenatis metus. Ut eu nunc ornare,
            cursus ligula ut, sollicitudin lorem. Pellentesque ullamcorper vel diam malesuada sodales. Curabitur
            sagittis, velit id molestie eleifend, tellus leo ullamcorper ex, sed aliquam turpis metus eget mi. Cras
            aliquam lacinia est eget interdum. Suspendisse quis pharetra odio. Nullam at risus aliquet, lacinia libero
            vitae, imperdiet est. Nunc dapibus egestas dignissim. Class aptent taciti sociosqu ad litora torquent per
            conubia nostra, per inceptos himenaeos. Nulla mattis turpis vehicula porta suscipit.</p>
        <p>Fusce massa nulla, fermentum sed ante non, tincidunt dignissim nisl. Nulla facilisi. Mauris egestas massa
            metus. Proin vel velit nibh. Nunc arcu lorem, venenatis eget libero pellentesque, sagittis euismod felis.
            Proin sem nunc, dignissim mollis felis a, lobortis consequat lorem. Nulla elit ex, molestie ut odio et,
            tempor tempus diam. Vivamus malesuada massa sit amet rhoncus imperdiet. Maecenas sagittis ac leo vitae
            vehicula. Sed porttitor ipsum et lectus varius, at luctus leo egestas. Proin condimentum enim eget leo
            aliquam, nec dictum nulla blandit. Vivamus eget augue sed libero tincidunt tempus vitae ac sapien. Mauris
            egestas nulla sed lectus suscipit, ut pellentesque massa ultricies.</p>
        <p>Aliquam sit amet vehicula metus. Ut ut mauris nec orci euismod tincidunt id sit amet tellus. Nulla sed nulla
            odio. Aliquam lacinia auctor urna, sit amet convallis metus pulvinar a. Integer vel eleifend justo, vel
            porta odio. Nunc velit sem, feugiat vel sodales eu, consectetur id risus. Proin a justo ac urna lobortis
            bibendum sed sed sapien. Quisque vitae mollis neque, accumsan ultricies lectus. Etiam laoreet ex ipsum, ut
            fringilla diam tempus sed. Nulla eleifend lorem et turpis faucibus fringilla. Aenean aliquam sed lorem vitae
            malesuada. Suspendisse potenti. Aenean quis vehicula ex. Mauris commodo ipsum a orci tincidunt, congue
            imperdiet orci imperdiet. Nam sit amet sem sapien. Nullam ut metus tempus, vestibulum mi nec, consequat
            metus.</p>
    </section>

    <section class="d-flex flex-columns align-items-center">
        <video controls poster="/resurse/video/poster.jpg" preload="metadata" style="width: 100%; min-width: 200px; max-width: 800px;">
            <source src="/resurse/video/MIB2.mp4" type="video/mp4">
            <source src="/resurse/video/MIB2.webm" type="video/webm">
            <track kind="subtitles" src="/resurse/video/MIB2-subtitles-RO.vtt" srclang="ro" label="Română" default>
            <track kind="subtitles" src="/resurse/video/MIB2-subtitles-PR.vtt" srclang="pt" label="Portugheza">
        </video>
        <p>Sursa: <a href="https://github.com/brenopolanski/html5-video-webvtt-example" target="_blank">Github</a></p>

    </section>

    <p class="text-center">
        <a href="https://en.wikipedia.org/wiki/Men_in_Black_II" target="_blank" class="btn btn-secondary">Vezi MIB2 pe Wiki</a>
    </p>
</main>

<%- include('../fragmente/footer.ejs') %>

</body>
</html>
