<!DOCTYPE html>
<html lang="ro">
<head>
    <title>Eventz | Evenimente</title>
    <%- include('../fragmente/meta.ejs') %>
</head>
<body>

<%- include('../fragmente/header.ejs') %>

<main>
    <section>
        <h2>Evenimente</h2>
    </section>

    <%- include('../fragmente/galerie.ejs', {images: galleryImages}) %>
</main>

<%- include('../fragmente/footer.ejs') %>

</body>
</html>
