<!DOCTYPE html>
<html lang="ro">
<head>
    <title>Eventz | Acasa</title>
    <%- include('../fragmente/meta.ejs') %>
</head>
<body>

<%- include('../fragmente/header.ejs') %>

<main>
    <div class="grid-container">
        <div class="zone-1-banner">
            <figure class="text-center">
                <picture>
                    <source media="(max-width: 799px)" srcset="/resurse/images/banner-small.jpg">
                    <source media="(min-width: 800px) and (max-width: 1799px)" srcset="/resurse/images/banner-mid.jpg">
                    <source media="(min-width: 1800px)" srcset="/resurse/images/banner-big.jpg">
                    <img src="/resurse/images/banner-big.jpg.jpg" alt="Top concerte!">
                </picture>
                <figcaption>Top concerte</figcaption>
            </figure>
        </div>
        <div class="zone-2-table">
            <h2><i class="fa fa-table"></i> Tabel concerte</small></h2>
            <div class="table-container">
                <table>
                    <caption><i class="fa fa-music"></i> Concerte per gen muzical</caption>
                    <thead>
                    <tr>
                        <th>Gen</th>
                        <th>Subgen</th>
                        <th>Nr concerte</th>
                        <th>Urmatorul</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td rowspan="4">Electronic</td>
                        <td>Electro</td>
                        <td>5</td>
                        <td>23/04/2024</td>
                    </tr>
                    <tr>
                        <td>Techno</td>
                        <td>2</td>
                        <td>23/04/2024</td>
                    </tr>
                    <tr>
                        <td>DNB</td>
                        <td>11</td>
                        <td>23/04/2024</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td colspan="2">18</td>
                    </tr>
                    <tr>
                        <td rowspan="3">Underground</td>
                        <td>Rap</td>
                        <td>5</td>
                        <td>Necunoscut</td>
                    </tr>
                    <tr>
                        <td>Hip-Hop</td>
                        <td>6</td>
                        <td>23/04/2024</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td colspan="2">11</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td>Toate</td>
                        <td>Total</td>
                        <td colspan="2">29</td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="zone-3-calendar">
            <h2><i class="fa fa-calendar"></i>Calendar</h2>
            <q>Nam mauris augue, condimentum tincidunt odio ut, tempor pretium lectus. Donec tempor feugiat justo et dignissim. Maecenas pretium libero diam, sit amet aliquet enim dictum volutpat. Vivamus rhoncus ex lorem, non accumsan leo fermentum vitae. Etiam vehicula nulla id felis euismod, a suscipit dolor posuere. Vivamus rhoncus, nulla non cursus venenatis, massa leo bibendum tortor, non consequat enim libero eget nunc. Nullam porttitor, quam in auctor laoreet, purus nunc rutrum erat, sed consectetur augue diam et turpis.</q>
        </div>
        <div class="zone-4-announcements">
            <h2><i class="fa fa-bullhorn"></i>Anunturi</h2>
            <q>Nam mauris augue, condimentum tincidunt odio ut, tempor pretium lectus. Donec tempor feugiat justo et dignissim. Maecenas pretium libero diam, sit amet aliquet enim dictum volutpat. Vivamus rhoncus ex lorem, non accumsan leo fermentum vitae. Etiam vehicula nulla id felis euismod, a suscipit dolor posuere. Vivamus rhoncus, nulla non cursus venenatis, massa leo bibendum tortor, non consequat enim libero eget nunc. Nullam porttitor, quam in auctor laoreet, purus nunc rutrum erat, sed consectetur augue diam et turpis.</q>
        </div>
        <div class="zone-5-users-online">
            <h2><i class="fa fa-user"></i> Useri online</h2>
            <q>Nam mauris augue, condimentum tincidunt odio ut, tempor pretium lectus. Donec tempor feugiat justo et dignissim. Maecenas pretium libero diam, sit amet aliquet enim dictum volutpat. Vivamus rhoncus ex lorem, non accumsan leo fermentum vitae. Etiam vehicula nulla id felis euismod, a suscipit dolor posuere. Vivamus rhoncus, nulla non cursus venenatis, massa leo bibendum tortor, non consequat enim libero eget nunc. Nullam porttitor, quam in auctor laoreet, purus nunc rutrum erat, sed consectetur augue diam et turpis.</q>
        </div>
        <div class="zone-6-user-stats">
            <h2><i class="fa fa-chart-area"></i> Date utilizatori &amp; statistici</h2>
            <p>IP-ul dvs. este: <%= locals.ip %></p>
            <q>Nam mauris augue, condimentum tincidunt odio ut, tempor pretium lectus. Donec tempor feugiat justo et dignissim. Maecenas pretium libero diam, sit amet aliquet enim dictum volutpat. Vivamus rhoncus ex lorem, non accumsan leo fermentum vitae. Etiam vehicula nulla id felis euismod, a suscipit dolor posuere. Vivamus rhoncus, nulla non cursus venenatis, massa leo bibendum tortor, non consequat enim libero eget nunc. Nullam porttitor, quam in auctor laoreet, purus nunc rutrum erat, sed consectetur augue diam et turpis.</q>
        </div>
        <div class="zone-7-site-stats">
            <h2><i class="fa fa-chart-column"></i> Date site &amp; server</h2>
            <q>Nam mauris augue, condimentum tincidunt odio ut, tempor pretium lectus. Donec tempor feugiat justo et dignissim. Maecenas pretium libero diam, sit amet aliquet enim dictum volutpat. Vivamus rhoncus ex lorem, non accumsan leo fermentum vitae. Etiam vehicula nulla id felis euismod, a suscipit dolor posuere. Vivamus rhoncus, nulla non cursus venenatis, massa leo bibendum tortor, non consequat enim libero eget nunc. Nullam porttitor, quam in auctor laoreet, purus nunc rutrum erat, sed consectetur augue diam et turpis.</q>
        </div>
        <div class="zone-8-news">
            <h2><i class="fa fa-newspaper"></i> Noutati</h2>
            <q>Nam mauris augue, condimentum tincidunt odio ut, tempor pretium lectus. Donec tempor feugiat justo et dignissim. Maecenas pretium libero diam, sit amet aliquet enim dictum volutpat. Vivamus rhoncus ex lorem, non accumsan leo fermentum vitae. Etiam vehicula nulla id felis euismod, a suscipit dolor posuere. Vivamus rhoncus, nulla non cursus venenatis, massa leo bibendum tortor, non consequat enim libero eget nunc. Nullam porttitor, quam in auctor laoreet, purus nunc rutrum erat, sed consectetur augue diam et turpis.</q>
        </div>
    </div>


    <section id="home">
        <h2>Eventz!</h2>
        <p>
            <strong>Descoperă</strong> <b>concerte</b> <em>excepționale</em>, <b>spectacole</b> <em>impresionante</em> și bucură-te de <b>muzică</b> de calitate superioară.<br>
            <q>Muzica dă suflet universului, aripi minții, zbor imaginației și viață tuturor lucrurilor</q>.
        </p>
        <ul>
            <li>Concerte rap</li>
            <li>Concerte rock</li>
            <li>Teatru copii</li>
            <li>Teatru adulti</li>
        </ul>

        <section id="top-events">
            <h3>Top evenimente</h3>
            <p>Cele mai cautate evenimente</p>
            <ol>
                <li>Madonna</li>
                <li>Concert opera</li>
            </ol>
        </section>
    </section>

    <section id="dub-videos">
        <h2>Atmospheric DUB Techno mixes</h2>

        <div class="iframe-container">
            <iframe width="560" height="315" name="iframe_video" src="https://www.youtube.com/embed/AsM1ZLx2jVo?si=YnWPfwQjFPQ5IA9_" title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="iframe-buttons btn-group">
                <a class="btn btn-rounded active" href="https://www.youtube.com/embed/AsM1ZLx2jVo?si=YnWPfwQjFPQ5IA9_" target="iframe_video">Atmospheric dub techno MIX 32</a>
                <a class="btn btn-rounded" href="https://www.youtube.com/embed/M1lPuCL3u1M?si=s4FKu5ta02yCdlv0" target="iframe_video">Atmospheric dub techno MIX 33</a>
                <a class="btn btn-rounded" href="https://www.youtube.com/embed/DzZ3WerEsn0?si=i8O9SPq8Mnt-3Hg0" target="iframe_video">Atmospheric dub techno MIX 35</a>
            </div>
        </div>
    </section>

    <section id="faq">
        <h2>Întrebări frecvente</h2>

        <details>
            <summary>Cum pot cumpăra bilete?</summary>
            <p>Puteți cumpăra bilete direct de pe site-ul nostru. Accesați secțiunea "Evenimente" și selectați evenimentul dorit.</p>
        </details>

        <details>
            <summary>Cum pot contacta suportul?</summary>
            <p>Puteți contacta suportul nostru prin email la adresa suport@eventz.ro sau prin telefon la numărul +1234567890.</p>
        </details>

        <details>
            <summary>Unde pot vedea evenimentele viitoare?</summary>
            <p>Evenimentele viitoare pot fi vizualizate în secțiunea "Evenimente" a site-ului nostru.</p>
        </details>
    </section>

    <section id="suport">
        <h2>Suport & diverse</h2>
        <ul>
            <li><a href="https://anpc.ro/" target="_blank">ANPC</a></li>
            <li><a href="/resurse/images/banner-big.jpg" download>Descarcă banner</a></li>
        </ul>

        <section>
            <h3>Calcul preț bilet cu discount</h3>
            <math xmlns="http://www.w3.org/1998/Math/MathML">
                <mi>p</mi>
                <mo>'</mo>
                <mo>=</mo>
                <mi>p</mi>
                <mo>-</mo>
                <mo>(</mo>
                <mi>p</mi>
                <mo>*</mo>
                <mi>d</mi>
                <mo>/</mo>
                <mn>100</mn>
                <mo>)</mo>
            </math>
            <br>
            <small><code>p'=prețul final</code>, <code>p=prețul inițial</code>, <code>d=discount</code></small>
        </section>
    </section>
</main>

<%- include('../fragmente/footer.ejs') %>

</body>
</html>
