:root {
    --primary-color: #050202;
    --accent-color: #FF5B4F;
    --secondary-color: #FF9C7A;
    --light-color: #f5f1f1;
    --lighter-color: #FFD97A;

    --background-color: var(--light-color);
    --text-color: var(--primary-color);
    --border-color: var(--accent-color);
    --highlight-color: var(--secondary-color);
    --hover-color: var(--lighter-color);
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-style: normal;
    box-sizing: border-box;
}

body {
    color: var(--text-color);
    transition: font-size 0.5s ease;
    padding: 20px;
}

header, footer {
    background-color: var(--lighter-color);
    border: 1px solid #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 var(--lighter-color);
    padding: 5px 20px;
}

footer {
    padding: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

h1, h2, h3 {
    border-bottom: 2px solid var(--border-color);
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 2rem;
}

a:hover {
    background-color: var(--hover-color);
}

.text-center {
    text-align: center;
}

img {
    width: 80%;
    max-width: 1024px;
    min-width: 300px;
    height: auto;
}

.highlight {
    background-color: var(--highlight-color);
    padding: 10px;
}

#link-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: var(--accent-color);
    color: var(--light-color);
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 var(--accent-color);
    transition: all 0.5s ease;
    text-decoration: none;
    opacity: 0.7;
    border: 3px solid #fff;
}

#link-top:hover {
    opacity: 1;
}

#link-top:before {
    content: "áƒ";
    line-height: 30px;
}

.grid-container {
    margin: 20px 0;
    display: grid;
    grid-template-areas:
    "a a a a"
    "b c c e"
    "f f g g"
    "h h g g"
    "i i i i";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-gap: 20px;
}

.grid-container > div {
    border: 1px dashed var(--border-color);
    background: var(--background-color);
    padding: 20px;
    border-radius: 15px;
}

.zone-1-banner { grid-area: a; }
.zone-2-table { grid-area: g; }
.zone-3-calendar { grid-area: f; }
.zone-4-announcements { grid-area: h; }
.zone-5-users-online { grid-area: b; }
.zone-6-user-stats { grid-area: c; }
.zone-7-site-stats { grid-area: e; }
.zone-8-news { grid-area: i; }

@media only screen and (min-width: 801px) and (max-width: 1024px) {
    body {
        font-size: 0.9rem;
        padding: 10px;
    }

    img {
        width: 100%;
        max-width: 100%;
    }

    .grid-container {
        grid-template-areas:
        "a a"
        "b c"
        "e e"
        "f g"
        "h h"
        "i i";
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
}

@media only screen and (max-width: 800px) {
    body {
        font-size: 0.8rem;
        padding: 5px;
    }

    .grid-container {
        grid-template-areas:
        "a"
        "b"
        "c"
        "e"
        "f"
        "g"
        "h"
        "i";
        grid-template-columns: 1fr;
        grid-gap: 5px;
    }
}
