<footer>
    <div class="banner">Acesta este un proiect scolar</div>
    <section>
        <div>
            <a href="index.html#home">Acasă</a>
        </div>
        <address>
            <p>Informații de contact:</p>
            <p><i class="fa fa-phone"></i> Telefon: <a href="tel:+1234567890">+1234567890</a></p>
            <p><i class="fa fa-map-marked"></i> Adresă:
                <a href="https://www.google.com/maps/place/Facultatea+de+Matematica+si+Informatica" target="_blank">Facultatea
                    de Matematica si Informatica</a></p>
            <p><i class="fa fa-envelope"></i> Email: <a href="mailto:email@example.com">email@example.com</a></p>
            <p><i class="fa fa-pen"></i> Chat: <a href="https://wa.me/1234567890">Whatsapp</a></p>
        </address>

        <small>&copy;
            <time datetime="2024-03-27">26 Februarie 2024</time>
            Eventz! Toate drepturile rezervate.</small>
    </section>

    <a id="link-top" title="Mergi sus" href="#intro"></a>
</footer>
